parameters:
    level: 8
    paths:
        - src
        - apps
    excludePaths:
        - var
    ignoreErrors:
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::assert[a-zA-Z0-9]+\(\)#'
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    reportUnmatchedIgnoredErrors: false
